<!--start a bagfile-->
<launch>



<!--record bagfiles-->
<node pkg="rosbag" type="record" name="recordBag" output="screen" args="record 
        /robotmodel/robot_state /tf /vision/takenImg /robotmodel/robot_heading 
        /robotcontrol/raw_cmds /robotcontrol/state /gait/odometry 
        -O /home/yvonne/master_thesis/bag/1/1.bag"/>



</launch>
